@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Stack+Sans+Text:wght@200..700&display=swap');

.HeroStyle {
    font-size: 40px;
    font-family: "Cinzel Decorative", serif;
    font-weight: 700;
}