@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.HeroStyle {
    font-size: 40px;
    font-family: "Elms Sans", sans-serif;
    font-optical-sizing: auto;
}