@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@1..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.text-type {
    display: inline-block;
    white-space: pre-wrap;
}

.text-type__cursor {
    margin-left: 0.25rem;
    display: inline-block;
    opacity: 1;
}

.text-type__cursor--hidden {
    display: none;
}

.text-type__content {
    font-size: 54px;
    font-family: "Noto Sans", sans-serif;
    font-weight: 600;
    font-optical-sizing: auto;
}

@media screen and (max-width: 768px) {
    .text-type__content {
        font-size: 44px;
        font-family: "Noto Sans", sans-serif;
        font-optical-sizing: auto;
    }
}

@media screen and (max-width: 500px) {
    .text-type__content {
        font-size: 34px;
        line-height: 50px;
        font-family: "Noto Sans", sans-serif;
        font-optical-sizing: auto;
    }
}